<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<style type="text/css">
		body
		{
			background-color: #87ceeb;
		}

		button
		{
			margin-top: 25%;
			margin-left: 40%;
			text-align: center;
			height: 80px;
			width: 180px;

		}
	</style>
</head>
<body>

<div class="container">
	<a href="/send/"><button class="btn btn-outline-primary">Send Message</button></a>
</div>

</body>
</html>